# Python standard ignores
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
lib/
lib64/
parts/
var/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json

# pytype
.pytype/

# Cython build
cython_debug/

# VS Code settings
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
*.manifest
*.spec
*.bak
*.tmp

# GitHub Actions
.github/

# Ignore local files
local_settings.py